<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instagraph.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CCAB4F3247C0C4900E89AE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCAB509247C0C4A00E89AE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCAB514247C0C4B00E89AE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
